@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>ASP.Net MVC application, showing how to work with html, css, bootstrap, jquery, ajax, javascript, mvc, entity framework, etc. It implements a small ecommerce web site, where a list of products is showed, allowing the users to add items to a shopping cart, and finally, after registration/login, checkout and finish the purchase.</p>


<h2><i class="fa fa-user"></i> Contact</h2>

<dl class="dl-horizontal">
    <dt>
        Author
    </dt>

    <dd>
        Giovanni Modica
    </dd>

    <dt>
        Email
    </dt>

    <dd>
        <a href="mailto:giovanni.modica@gmail.com">giovanni.modica@gmail.com</a>
    </dd>

    <dt>
        Web site
    </dt>

    <dd>
        <a href="http://giovannimodica.com">http://giovannimodica.com</a>
    </dd>
</dl>