@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>ASP.Net MVC application, showing how to work with html, css, jquery, ajax, javascript, mvc, entity framework, etc. It implements a small ecommerce web site, where a list of products is showed, allowing the users to add items to a shopping cart, and finally, after registration/login, checkout and finish the purchase.</p>
